{% extends "base.html" %}

{% block content %}
<h1>Submit your Feedback</h1>
<hr>

<form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}

    <div class="field">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </div>

    <div class="field">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div class="field">
        {{ form.message.label_tag }}
        {{ form.message }}
        {{ form.message.errors }}
    </div>

    <div class="form-actions">
        <button type="submit" class="btn">Submit</button>
        <button type="reset" class="btn secondary">Reset</button>
    </div>
</form>
{% endblock %}
