{% extends "base.html" %}

{% block content %}
<h1>View Your Feedback</h1>
<hr>

{% if feedbacks %}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th colspan="2">Action</th>
    </tr>
    {% for i in feedbacks %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td class="message-text">{{ i.message }}</td>
        <td>
            <a href="{% url 'update' i.id %}" class="btn small">Update</a>
        </td>
        <td>
            <a href="{% url 'delete' i.id %}" class="btn small danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No feedback submitted yet.</p>
{% endif %}
{% endblock %}
